<div class="row">
        
        <div class="col" >
            <div class="card">
                <div class="card-body" >
                    <h5 class="card-title">Werknemers</h5>
                    <table class="table table-striped">
                            <thead class="wt-bg-color wt-font-color">
                                <tr>
                                <th>Naam</th>
                                <th>E-mail</th>
                                <th></th>
                                <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let werknemer of werknemers">
                                <td>{{werknemer.naam}}</td>
                                <td>{{werknemer.email}}</td>
                                <td><a href="javascript:void(0)" (click)="onSelect(werknemer)">&#9998;</a></td>
                                <td><a href="javascript:void(0)" (click)="verwijder(werknemer)">&#10006;</a></td>        
                                </tr>
                            </tbody>
                        </table>
    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <app-nieuwWerknemer [nieuwWerknemer]="newWerknemer" (toegevoegd)="onNieuwWerknemer($event)"></app-nieuwWerknemer>
                    <app-pasWerknemerAan [huidigWerknemer]="selectedWerknemer" (gewijzigd)="onWerknemerWijzig($event)"></app-pasWerknemerAan>

                </div>
            </div>
        </div>
    </div>