<div class="row">
        
        <div class="col" >
            <div class="card">
                <div class="card-body" >
                    <h5 class="card-title">Werknemers</h5>
                    <table class="table table-striped">
                            <thead class="wt-bg-color wt-font-color">
                                <tr>
                                <th>Naam</th>
                                <th>E-mail</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let werknemer of werknemers">
                                <td>{{werknemer.naam}}</td>
                                <td>{{werknemer.email}}</td>
                                </tr>
                            </tbody>
                        </table>
    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    
                </div>
            </div>
        </div>
    </div>