<div class="row">
        
    <div class="col" >
        <div class="card">
            <div class="card-body" >
                <h5 class="card-title">Kandidaten</h5>
                <table class="table table-striped">
                        <thead class="wt-bg-color wt-font-color">
                            <tr>
                            <th>Naam</th>
                            <th>Telefoonnummer</th>
                            <th>E-mail</th>
                            <th>Bedrijf</th>
                            <th></th>
                            <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let kandidaat of kandidaten">
                            <td>{{kandidaat.naam}}</td>
                            <td>{{kandidaat.telefoonnummer}}</td>
                            <td>{{kandidaat.email}}</td>
                            <td>To do</td>
                            <td><a href="javascript:void(0)" (click)="onSelect(kandidaat)">&#9998;</a></td>
                            <td><a href="javascript:void(0)" (click)="verwijder(kandidaat)">&#10006;</a></td>
                            </tr>
                        </tbody>
                    </table>

            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <app-nieuwKandidaat [nieuwKandidaat]="newKandidaat" (toegevoegd)="onNieuwKandidaat($event)"></app-nieuwKandidaat>
                <app-pasKandidaatAan [huidigKandidaat]="selectedKandidaat" (gewijzigd)="onKandidaatWijzig($event)"></app-pasKandidaatAan>
            </div>
        </div>
    </div>
</div>