<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div style="position:relative;">
                    <div>
                        <h5 class="card-title" title="Boeiay">Urenregistratie - Februari</h5>
                    </div>
                    <div style="position:absolute; top:0; right: 5px;">
                        <select>
                            <option>Februari</option>
                        </select>
                    </div>
                </div>



                <table class="table table-dark urenregistratie table-hover" id="urenregistratie">
                    <thead class="wt-bg-color wt-font-color">
                        <tr class="weekScheme">
                            <th class="weeknr w-5">#</th>
                            <th class="w-12" id="ma">Maandag</th>
                            <th class="w-12" id="di">Dinsdag</th>
                            <th class="w-12" id="wo">Woensdag</th>
                            <th class="w-12" id="do">Donderdag</th>
                            <th class="w-12" id="vr">Vrijdag</th>
                            <th class="w-12" id="za">Zaterdag</th>
                            <th id="zo">Zondag</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--<tr *ngFor="let kandidaat of kandidaten">
                            <td>{{kandidaat.naam}}</td>
                            <td>{{kandidaat.telefoonnummer}}</td>
                            <td>{{kandidaat.email}}</td>
                            <td>To do</td>
                            <td><a href="javascript:void(0)" (click)="onSelect(kandidaat)">&#9998;</a></td>
                            <td><a href="javascript:void(0)" (click)="verwijder(kandidaat)">&#10006;</a></td>
                            </tr>-->
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <!--  <div class="col">
        <div class="card">
            <div class="card-body">
                <!--<app-nieuwKandidaat [nieuwKandidaat]="newKandidaat" (toegevoegd)="onNieuwKandidaat($event)"></app-nieuwKandidaat>
                <app-pasKandidaatAan [huidigKandidaat]="selectedKandidaat" (gewijzigd)="onKandidaatWijzig($event)"></app-pasKandidaatAan>
            </div>
        </div>
    </div>-->
</div>